.title-top {
    height: 34px;
    display: flex;
    align-items: center;
} 
.title-top-title {
    font-size: 25px;
    color: #444;
    margin-left: 50px;
}

.title-top-subtitle {
  margin-left: 10px;
  font-size: 14px;
  margin-top: 6px;
}