.additional-bg {
  font-weight: 100;
  width: 100vw;
  height: 100vh;
  background: #333;
}

.additional-wrapper {
  background: #FFFFFF;
  width: 500px;
  height: 600px;
  position: absolute;
  left: calc((100% - 500px) / 2);
  top: calc((100% - 600px) / 2)
}

.additional-header {
  font-size: 15px;
  background: #537187;
  color: #ffffff;
  padding: 20px
}

.additional-body p {
  margin: 30px 20px;
}

.additional-body textarea {
  margin: 0 20px;
  max-width: 90%;
  min-width: 90%;
  max-height: 300px;
  min-height: 300px;
  outline: none;
  resize: none;
  border: 1px solid #EAEAEA;
}


.additional-buttons {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}