.contactForm-wrapper {
  background: #FFFFFF;
  width: 700px;
  height: 400px;
  margin: 0 auto 40px auto;
  border: 1px solid black;
}

.contactInfo-header {
  font-size: 13px;
  background: #537187;
  color: #ffffff;
  padding: 20px
}

.contactInfo-body {
  padding: 20px 40px;
}
.contactInfo-body label {
  display: block;
  font-size: 13px;
  margin: 5px 0;
}

.contactInfo-body section div {
  margin: 20px 20px 0 0;
}
.contactInfo-body section :nth-child(1) input{
  width: 150px;
}
.contactInfo-body section :nth-child(2) input{
  width: 400px;
}
.contactInfo-body section :nth-child(3) :nth-child(1) input{
  width: 100px;
}
.contactInfo-body section :nth-child(3) :nth-child(2) input{
  width: 50px;
}
.contactInfo-body section :nth-child(3) :nth-child(3) input{
  width: 80px;
}

.contactInfo-body input {
  outline: none;
  border: 1px solid #999;
  border-radius: 3px;
  padding-left: 5px;
  height: 25px;
}




.contactInfo-buttons {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.contactInfo-buttons :nth-child(1){
  font-size: 12px;
  color: #72B9D7;
  margin: 20px;
  padding: 13px;
}
.contactInfo-buttons :nth-child(2){
  margin: 20px;
  color: #ffffff;
  font-size: 13px;
  background: #FF8200;
  text-align: center;
  border-radius: 3px;
  width: 75px;
  padding: 13px;
}