.nav-container {
    background-color: #225085;
    display: flex;
    justify-content: space-between
}

.left {

}

.left div {
    display: inline-block;
}
.right div {
    display: inline-block;
}

.nav-item {
    width: 200px;
    /*border: 1px solid white;*/
    text-align: center;
}
.nav-item:hover {
    background-color: #326096;
}
.nav-item a {
    text-decoration: none;
}

.nav-title {
    color: white;
    font-size: 15px;
 
}