.btn {
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary {
  color: #181D23;
  background-color: #E66323;
}

.no-margin {
  margin: 0 !important;
}
.margin-left-60 {
  margin-left: 60px !important;
}
.no-padding {
  padding: 0 !important;
}
.padding-left-0 {
  padding-left: 0 !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.main-container {
  height: calc(100vh - 47px);
  display: flex;
  align-content: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-spread {
  justify-content: space-between;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.float-left {
  float: left;
}

.file-upload {
  position: relative;
  left: 40px;
}

.tall {
  height: 500px !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-height-width {
  height: 100%;
  width: 100%;
}

.button-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.blue-button {
  border: none;
  border-radius: 3px;
  color: #ffffff;
  text-align: center;
  margin: 30px;
  width: 75px;
  padding: 15px;
  background: #72B9D7;
  cursor: pointer;
  font-size: 12px;
  margin: 20px;
  padding: 13px;
}
