.details-wrapper {
    background-color: #fff;
    width: calc(100% - 300px);
}


.details-date-bar {
    background-color: #537187;
    margin-top: 30px;
    height: 70px;
    width: 100%;
    display: flex; 
    align-items: center; 
}

.details-date-bar-title {
    color: white;
    font-size: 25px;
    margin-left: 50px;
}

.details-content-wrapper {
    margin-top: 70px;
    display: flex;  
}

.details-content {
    margin-left: 40px;
    width: 60%;
}

.details-logo {
    width: 40%;
}

.bengal-logo {
    width: 230px;
    margin-top: -50px;
}