.profiles-wrapper {
    width: calc(100% - 300px);
}
.profiles-top {
    height: 34px;
    display: flex;
    align-items: center;
}

.details-table-wrapper {
    width: 100%; 
    /* border: 1px solid blue; */
}

.details-table {
    width: 100%;
}

.table-header {
    background-color: #537187;
    color: white;
    font-weight: 100;
    vertical-align: middle;
}
.header-name {
    width: 400px;  
    height: 50px;
}

.header-attending {
    text-align: left;
}



.table-row {
    /* vertical-align: middle; */
}

.table-row-item-name {
    text-align: center;
}

.table-row-item-bool {
    padding-left: 10px;
    display: flex;
}


/* 
    The card component
*/
.table-row-item-card {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img {
    width: 120px;
}
.card-pic {
    width: 55px;
    height: 55px;
}

.card-name {

}

