.header-wrapper {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.header-title {
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;
}

.header-login {
    /* border: 1px solid black; */
    font-size: 15px;
    margin-right: 20px;
}

.login-button {
    text-decoration: none;
    color: #555;
}