.done-bg {
  font-weight: 100;
  width: 100vw;
  height: 100vh;
  background: #333;
}

.done-wrapper {
  background: #FFFFFF;
  width: 500px;
  height: 250px;
  position: absolute;
  left: calc((100% - 500px) / 2);
  top: calc((100% - 250px) / 2)
}

.done-header {
  font-size: 15px;
  background: #537187;
  color: #ffffff;
  padding: 20px
}

.done-body {
  text-align: center;
}
.done-body p {
  margin: 30px 20px;
}


.done-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.done-buttons a{
  margin: 20px;
  color: #ffffff;
  font-size: 13px;
  background: #FF8200;
  text-align: center;
  border-radius: 3px;
  width: 75px;
  padding: 13px;
}