.register-bg {
  box-sizing: border-box;
  font-weight: 100;
  background: #333;
   display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;

}

.register-wrapper {
  box-sizing: border-box;
  border-radius: 3px;
  background: #FFFFFF;
  width: 500px;
  min-height: 550px;
  margin-bottom: 30px;
  margin-top: 30px;
   /* position: absolute;
  left: calc((100% - 500px) / 2);
  top: calc((100% - 600px) / 2)  */
}

.register-header {
  border-radius: 3px 3px 0 0;
  font-size: 15px;
  text-align: center;
  background: #537187;
  color: #ffffff;
  padding: 20px
}

.register-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.register-text {
  font-size: 14px;
  width: 400px;
  margin: 50px 20px;
}

.register-input {
  padding-left: 10px;
  font-size: 15px;
  display: block;
  margin: 20px 0;
  height: 50px;
  width: 350px;
  outline: none;
  border: none;
  border-bottom: 1px solid #999;
}

.register-icon {
  margin: 20px 0;
  height: 52px;
  width: 50px;
  border-bottom: 1px solid #999;
}
.register-icon-personal {
  margin: 20px 0;
  height: 52px;
  width: 50px;
  border-bottom: 1px solid #999;
}
.register-icon-personal img{
  height: 50px;
}

.register-password {
  margin: 20px;
}

.register-register {
  border-radius: 3px;
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  margin: 30px;
  width: 75px;
  padding: 15px;
  background: #72B9D7;
}


